html {
   font-family: "Baloo 2", cursive;
   background-color: #171820;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::selection {
   background: #fff;
   color: #000;
}

::-webkit-scrollbar {
   width: 0px;
}

.head {
   position: relative;
   text-align: center;
   font-weight: 600;
   font-size: 24px;
   padding-bottom: 20px;
}

.head::before {
   content: "";
   position: absolute;
   bottom: 15.5px;
   left: 50%;
   width: 200%;
   min-width: 200px;
   max-width: 250px;
   height: 3px;
   border-radius: 1.5px;
   transform: translateX(-50%);
   transition: all 0.2s;
}

.head::after {
   position: absolute;
   bottom: 5px;
   left: 50%;
   font-size: 16px;
   white-space: nowrap;
   padding: 0 5px;
   transform: translateX(-50%);
   transition: all 0.2s;
}

.line-clamp {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

.line-1clamp {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

.line-4clamp {
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

 .prevent-box {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: .2s ease-in-out;
   border-radius: 10px;
   z-index: 60;
}

.prevent-box.active {
   transform: translate(-50%, -50%) scale(1);
}

.prevent-box img {
   max-height: 80vh;
}

.overlay {
   position: fixed;
   opacity: 0;
   transition: .2s ease-in-out;
   z-index: 59;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
}

.overlay.active {
   opacity: 1;
   pointer-events: all;
}

@media (min-width: 640px) {
   .head {
      font-size: 32px;
   }

   .head::after {
      font-size: 20px;
   }

   .head::before {
      bottom: 16.5px;
   }
}
